ZQFW/Service References/WS_Deliver/Deliver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="your_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeliverXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sender_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receiver_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeliverXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeliverXmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeliverAffix">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="position" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sender_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="affix" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeliverAffixResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeliverAffixResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="DeliverXmlSoapIn">
    <wsdl:part name="parameters" element="tns:DeliverXml" />
  </wsdl:message>
  <wsdl:message name="DeliverXmlSoapOut">
    <wsdl:part name="parameters" element="tns:DeliverXmlResponse" />
  </wsdl:message>
  <wsdl:message name="DeliverAffixSoapIn">
    <wsdl:part name="parameters" element="tns:DeliverAffix" />
  </wsdl:message>
  <wsdl:message name="DeliverAffixSoapOut">
    <wsdl:part name="parameters" element="tns:DeliverAffixResponse" />
  </wsdl:message>
  <wsdl:portType name="DeliverSoap">
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeliverXml">
      <wsdl:input message="tns:DeliverXmlSoapIn" />
      <wsdl:output message="tns:DeliverXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeliverAffix">
      <wsdl:input message="tns:DeliverAffixSoapIn" />
      <wsdl:output message="tns:DeliverAffixSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeliverSoap" type="tns:DeliverSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverXml">
      <soap:operation soapAction="http://tempuri.org/DeliverXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverAffix">
      <soap:operation soapAction="http://tempuri.org/DeliverAffix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DeliverSoap12" type="tns:DeliverSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverXml">
      <soap12:operation soapAction="http://tempuri.org/DeliverXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverAffix">
      <soap12:operation soapAction="http://tempuri.org/DeliverAffix" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Deliver">
    <wsdl:port name="DeliverSoap" binding="tns:DeliverSoap">
      <soap:address location="http://localhost:8088/Deliver.asmx" />
    </wsdl:port>
    <wsdl:port name="DeliverSoap12" binding="tns:DeliverSoap12">
      <soap12:address location="http://localhost:8088/Deliver.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>