ZQFW/Service References/WS_BS_CS_XML/RptTrans.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UploadReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendUnit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveUnit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadReportResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadReportToCS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendUnit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveUnit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadReportToCSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadReportToCSResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestUploadReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendUnit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestUploadReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestUploadReportResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestUploadReportToCS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendUnit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestUploadReportToCSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestUploadReportToCSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadReportSoapIn">
    <wsdl:part name="parameters" element="tns:UploadReport" />
  </wsdl:message>
  <wsdl:message name="UploadReportSoapOut">
    <wsdl:part name="parameters" element="tns:UploadReportResponse" />
  </wsdl:message>
  <wsdl:message name="UploadReportToCSSoapIn">
    <wsdl:part name="parameters" element="tns:UploadReportToCS" />
  </wsdl:message>
  <wsdl:message name="UploadReportToCSSoapOut">
    <wsdl:part name="parameters" element="tns:UploadReportToCSResponse" />
  </wsdl:message>
  <wsdl:message name="TestUploadReportSoapIn">
    <wsdl:part name="parameters" element="tns:TestUploadReport" />
  </wsdl:message>
  <wsdl:message name="TestUploadReportSoapOut">
    <wsdl:part name="parameters" element="tns:TestUploadReportResponse" />
  </wsdl:message>
  <wsdl:message name="TestUploadReportToCSSoapIn">
    <wsdl:part name="parameters" element="tns:TestUploadReportToCS" />
  </wsdl:message>
  <wsdl:message name="TestUploadReportToCSSoapOut">
    <wsdl:part name="parameters" element="tns:TestUploadReportToCSResponse" />
  </wsdl:message>
  <wsdl:portType name="RptTransSoap">
    <wsdl:operation name="UploadReport">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传报表</wsdl:documentation>
      <wsdl:input message="tns:UploadReportSoapIn" />
      <wsdl:output message="tns:UploadReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadReportToCS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传报表到CS版本库中</wsdl:documentation>
      <wsdl:input message="tns:UploadReportToCSSoapIn" />
      <wsdl:output message="tns:UploadReportToCSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestUploadReport">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">测试上传报表</wsdl:documentation>
      <wsdl:input message="tns:TestUploadReportSoapIn" />
      <wsdl:output message="tns:TestUploadReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestUploadReportToCS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">测试上传报表到CS版本中</wsdl:documentation>
      <wsdl:input message="tns:TestUploadReportToCSSoapIn" />
      <wsdl:output message="tns:TestUploadReportToCSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RptTransSoap" type="tns:RptTransSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadReport">
      <soap:operation soapAction="http://tempuri.org/UploadReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadReportToCS">
      <soap:operation soapAction="http://tempuri.org/UploadReportToCS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestUploadReport">
      <soap:operation soapAction="http://tempuri.org/TestUploadReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestUploadReportToCS">
      <soap:operation soapAction="http://tempuri.org/TestUploadReportToCS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RptTransSoap12" type="tns:RptTransSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadReport">
      <soap12:operation soapAction="http://tempuri.org/UploadReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadReportToCS">
      <soap12:operation soapAction="http://tempuri.org/UploadReportToCS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestUploadReport">
      <soap12:operation soapAction="http://tempuri.org/TestUploadReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestUploadReportToCS">
      <soap12:operation soapAction="http://tempuri.org/TestUploadReportToCS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RptTrans">
    <wsdl:port name="RptTransSoap" binding="tns:RptTransSoap">
      <soap:address location="http://192.168.1.78:8089/RptTrans.asmx" />
    </wsdl:port>
    <wsdl:port name="RptTransSoap12" binding="tns:RptTransSoap12">
      <soap12:address location="http://192.168.1.78:8089/RptTrans.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>